<div class="me-page">
  <div class="cover-box">
    <img src="assets/img/bg2.jpg" class="cover">
    <div class="cover-txt">
      <img src="https://s1.tuchong.com/sites/134/1343094/logo_small.jpg?1" class="cover-avatar">封面设置
    </div>
  </div>


  <div class="weui-cells" id="mine">
    <div class="weui-cell">
      <div class="weui-cell__hd"><img src="https://s1.tuchong.com/sites/000/624/logo_large.jpg?2" class="avatar"></div>
      <div class="weui-cell__bd">
        <p class="name">Gseven<span class="lv">Lv.90</span></p>
        <div class="weui-progress" id="exp-bar">
          <div class="weui-progress__bar">
            <div class="weui-progress__inner-bar js_progress" style="width: 50%;"></div>
          </div>
        </div>
        <p class="intro">还差25点成长值升到下一级</p>
      </div>
    </div>
  </div>



<div class="weui-cells" id="list-1">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <img src="assets/img/me/name.png" class="icon">
      </div>
      <div class="weui-cell__bd">
        <p>东莞市桥头星报幼儿园</p>
      </div>
      <div class="weui-cell__ft"></div>
    </div>
    <div class="weui-cell weui-cell_access">
      <div class="weui-cell__hd">
        <img src="assets/img/me/department.png" class="icon">
      </div>
      <a class="weui-cell__bd"  [routerLink]="['/me/department']">
        <p>部门分类</p>
      </a>
      <div class="weui-cell__ft"></div>
    </div>
    <div class="weui-cell ">
      <div class="weui-cell__hd">
        <img src="assets/img/me/rank.png" class="icon">
      </div>
      <div class="weui-cell__bd">
        <p>总排名：30</p>
      </div>
      <div class="weui-cell__ft"></div>
    </div>
    <div class="weui-cell ">
      <div class="weui-cell__hd">
        <img src="assets/img/me/growth.png" class="icon">
      </div>
      <div class="weui-cell__bd">
        <p>成长值：140</p>
      </div>
      <div class="weui-cell__ft"></div>
    </div>
  </div>


<div class="weui-cells" id="list-2">
    <div class="weui-cell weui-cell_access">
      <div class="weui-cell__hd">
        <img src="assets/img/me/gain.png" class="icon">
      </div>
      <div class="weui-cell__bd">
        <p>我获得的成长值</p>
      </div>
      <div class="weui-cell__ft"></div>
    </div>
    <div class="weui-cell weui-cell_access">
      <div class="weui-cell__hd">
        <img src="assets/img/me/gift.png" class="icon">
      </div>
      <div class="weui-cell__bd">
        <p>我赠送的成长值</p>
      </div>
      <div class="weui-cell__ft"></div>
    </div>
    <div class="weui-cell weui-cell_access">
      <div class="weui-cell__hd">
        <img src="assets/img/me/timeline.png" class="icon">
      </div>
      <div class="weui-cell__bd">
        <p>全部动态</p>
      </div>
      <div class="weui-cell__ft"></div>
    </div>
    <div class="weui-cell weui-cell_access">
      <div class="weui-cell__hd">
        <img src="assets/img/me/report.png" class="icon">
      </div>
      <div class="weui-cell__bd">
        <p>成长报告</p>
      </div>
      <div class="weui-cell__ft"></div>
    </div>
  </div>

<div class="weui-cells" id="list-3">
    <div class="weui-cell weui-cell_access">
      <div class="weui-cell__hd">
        <img src="assets/img/me/org.png" class="icon">
      </div>
      <div class="weui-cell__bd">
        <p>选择组织</p>
      </div>
      <div class="weui-cell__ft"></div>
    </div>
    <div class="weui-cell ">
      <div class="weui-cell__hd">
        <img src="assets/img/me/account.png" class="icon">
      </div>
      <div class="weui-cell__bd">
        <p>账号：gseven 密码：132412</p>
      </div>
      <div class="weui-cell__ft"></div>
    </div>
    <div class="weui-cell weui-cell_access">
      <div class="weui-cell__hd">
        <img src="assets/img/me/url.png" class="icon">
      </div>
      <div class="weui-cell__bd">
        <p>后台网址：http://www.baidu.com</p>
      </div>
      <div class="weui-cell__ft"></div>
    </div>
  
  </div>

<div class="weui-cells"></div>
</div>