<div class="home-page">
  <div class="cover-box">
    <img src="assets/img/bg.jpg" class="cover">
    <div class="cover-txt">
        <img src="https://s1.tuchong.com/sites/134/1343094/logo_small.jpg?1" class="cover-avatar">林嘉欣30+占据了封面
    </div>

  </div>

  <div class="weui-cells" id="mine">
    <div class="weui-cell">
      <div class="weui-cell__hd"><img src="https://s1.tuchong.com/sites/000/624/logo_large.jpg?2" class="avatar"></div>
      <div class="weui-cell__bd">
        <p class="name">Gseven<span class="lv">Lv.90</span></p>
        <p class="intro">亲，你是棒棒哒</p>
      </div>
      <div class="weui-cell__ft point">140</div>
    </div>
  </div>

  <div class="weui-cells">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <span class="rank">1</span>
        <img src="https://s1.tuchong.com/sites/134/1343094/logo_small.jpg?1" class="avatar">
        </div>
      <div class="weui-cell__bd">
        <p class="name">Gseven<span class="lv">Lv.90</span><span class="total">26673</span></p>
      </div>
      <div class="weui-cell__ft point orange">+50</div>
    </div>
    <div class="weui-cell">
       <span class="rank">2</span>
      <div class="weui-cell__hd"><img src="https://s1.tuchong.com/sites/167/1672782/logo_large.jpg?1" class="avatar"></div>
      <div class="weui-cell__bd">
        <p class="name">Gseven<span class="lv">Lv.90</span></p>
      </div>
      <div class="weui-cell__ft point orange">+40</div>
    </div>
    <div class="weui-cell">
       <span class="rank">3</span>
      <div class="weui-cell__hd"><img src="https://s1.tuchong.com/sites/424/424700/logo_large.jpg?1" class="avatar"></div>
      <div class="weui-cell__bd">
        <p class="name">Gseven<span class="lv">Lv.90</span></p>
      </div>
      <div class="weui-cell__ft point orange">+30</div>
    </div>
    <div class="weui-cell">
       <span class="rank">4</span>
      <div class="weui-cell__hd"><img src="https://s1.tuchong.com/sites/105/105478/logo_large.jpg?6" class="avatar"></div>
      <div class="weui-cell__bd">
        <p class="name">Gseven<span class="lv">Lv.90</span></p>
      </div>
      <div class="weui-cell__ft point orange">+20</div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <span class="rank">5</span>
        <img src="https://s1.tuchong.com/sites/134/1343094/logo_small.jpg?1" class="avatar">
        </div>
      <div class="weui-cell__bd">
        <p class="name">Gseven<span class="lv">Lv.90</span><span class="total">26673</span></p>
      </div>
      <div class="weui-cell__ft point orange">+10</div>
    </div>
  </div>
  <p class="tips">注：每隔10分钟自动刷新</p>

</div>