<div class="home-page">
  <div class="cover-box">
    <img [src]="championInfo?.employee_background_url" class="cover">
    <div class="cover-txt">
        <img [src]="championInfo?.employee_head_imgurl" class="cover-avatar">{{championInfo?.employee_name}}成长值{{championInfo?.employee_growth_value}}占据了封面
    </div>

  </div>

  <div class="weui-cells" id="mine">
    <div class="weui-cell">
      <div class="weui-cell__hd"><img [src]="userInfo.employee_head_imgurl" class="avatar"></div>
      <div class="weui-cell__bd">
        <p class="name">{{userInfo.employee_name}}<span class="lv">Lv.{{userInfo.employee_level}}</span></p>
        <p class="intro">亲，你是棒棒哒</p>
      </div>
      <div class="weui-cell__ft point">{{userInfo.employee_growth_value}}</div>
    </div>
  </div>
  <div class="weui-cells">
    <a class="weui-cell" *ngFor="let employee of employeeList;let i=index" [routerLink]="['/home/personal/'+employee.employee_id]">
      <div class="weui-cell__hd">
        <span class="rank">{{i+1}}</span>
        <img [src]="!employee.employee_head_imgurl?'assets/img/avatar.png':employee.employee_head_imgurl" class="avatar">
        </div>
      <div class="weui-cell__bd">
        <p class="name">{{employee.employee_name}}<span class="lv">Lv.{{employee.employee_level}}</span><span class="total">{{employee.growthvalue_sum_value?employee.growthvalue_sum_value:0}}</span></p>
      </div>
      <div class="weui-cell__ft point orange">{{employee.employee_growth_value?employee.employee_growth_value:0}}</div>
    </a>
  
  </div>
  <p class="tips">注：每隔10分钟自动刷新</p>

</div>